.loading-container
  display flex
  justify-content center
  align-items center
  flex-direction column
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background #14142B
  span
    color #DDD
    font-size 16px
    margin-top 15px
    letter-spacing 1px
    font-family Helvetica, Arial, sans-serif
    
  img
    width 10vw