.container
  width 100%
  background #17213D
  color #ebedf0
  padding 32px 0

.content
  padding 0 16px
  box-sizing border-box
  .links
    display flex
    flex-direction row
    flex-wrap: wrap
    flex: 1 0
    .col
      flex 1 0
      flex-basis 100%
      margin-bottom 48px
      box-sizing: border-box
      padding 0 32px
      max-width: calc((100vw - 32px) / 4)

      @media(max-width 1207px)
        max-width: calc((100vw - 32px) / 2)

      @media(max-width 548px)
        padding 0 16px
        max-width: 100%

      h4
        font-weight 600
        margin-bottom 16px
        margin-top 0
      ul
        padding-left 0
        margin 0
      li
        padding-left 0
        margin 0
        list-style-type none
        height 32px
        line-height 32px
      a
        color #ebedf0
        font-weight 400
        opacity .76
        transition color 0.3s ease
        &:hover
          text-decoration underline
          color #5485f7

.copyright
  text-align center
  margin-top 25px